<div class="mui-row">
    <div class="mui-col-md-12">  

        <% if flash.has?(:error) %>
            <h3 class="error"><%= flash[:error] %></h3>
        <% elsif flash.has?(:message) %>
            <h3 class="message"><%= flash[:message] %></h3>
        <% end %>
            <h2><%= @topic.name%> </h2>
            <h4><span class="mui--divider-right">Description &nbsp;</span> <%= @topic.description%></h4>
    </div>
       <ul>
            <% @res.each do |re|%>
                <li>
                    <label>
                        <%= re.title%> 
                    </label>
            <p>Description: <span><%= re.description%></span>
            <p> URL: <span><%= re.url%></span>

                </li>
            <%end%>
        </ul>
        <% if current_user.admin %>
            <div class="mui-col-md-12 mui--divider-bottom"> 
                <h3><a href="/topics/<%=@topic.id%>/edit"><p>Click here to edit topic details </a></h3><br>
            </div> 
          <h1>All Resources Available</h1>
              <ul><% @resources.each do |resource|%>
                <li>
                <label>
                <form method="post" action="/resources/<%=@topic.id%>" class="mui-form">
                    <input type="checkbox" name="resource_ids[]" value="<%=resource.id%>"> 
                    <%= resource.title%> 
                </label>
                </li>
            <%end%>
          </ul>
            <p><button type="submit" class="mui-btn mui-btn--raised mui-btn--primary">Add Resource</button>
            </form>
        <% else %>                    
            <form method="post" action="/topics/<%=@topic.id%>/subscribe" class="mui-form">
                <p><button type="submit" class="mui-btn mui-btn--raised mui-btn--primary">Subscribe</button>
            </form>
        <% end %>

      </div>
</div>