<div class="row card-panel teal lighten-2">
    <div class="col s8">
        <h4><%= @topic.name%> </h4>
    <p class="flow-text"><%= @topic.description%></p>
    </div>
    <div class="col s4">
        <h4>Actions </h4> 
            <% if current_user.admin %>
            <form method="get" action="/topics/<%=@topic.id%>/edit" class="form">
                <p><button type="submit" class="btn mui-btn--raised btn--primary">Edit</button>
            </form>                
            <form method="get" action="/resources/<%=@topic.id%>" class="form">
                <p><button type="submit" class="btn mui-btn--raised btn--primary">Add Resources</button>
            </form>
            <% else %>
            <form method="post" action="/topics/<%=@topic.id%>/subscribe" class="form">
                <p><button type="submit" class="btn mui-btn--raised btn--primary">Add to my list</button>
            </form>                
            <form method="get" action="/resources/<%=@topic.id%>" class="form">
                <p><button type="submit" class="btn mui-btn--raised btn--primary">View Resources</button>
            </form>
            <% end %>
    </div>
</div>
